@import "../common.scss";
.upwork{
	background: #f3f3f3;
}
.inform{
	@include w-h(100%,auto,#fff);
	margin-top: 24px;
	.inf-title{
		@include fonts(14px,#333,50px);
		padding-left: 30px;
		border-bottom:1px solid #eee;
		span{
			color: #999;
			padding-left: 6px;
		}
	}
}
.inf-input{
	padding: 15px 30px;
	.input{
		position: relative;
		padding: 15px 0;	
		input{
			@include input(880px);
			padding-right: 40px;
		}
		.el-textarea{
			width: 880px;
			vertical-align: middle;

		}
		textarea{
			@include input(880px);
			line-height: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 40px;
			resize:none;

		}
	}
	.select{
		position: relative;
		padding: 15px 0;
		input{
			@include input(148px)
		}
		.label{
			width: 320px;
		}	
	}
	.sort{
		width: 148px;
	}
	.num{
		position: absolute;
		right: 140px;
		top: 15px;
		line-height: 42px;
		color: #999;
	}
	.tx{
		padding-left: 14px;
		color: #ff504b;
	}
	.tp{
		@include mast();
		margin-right: 8px;
		margin-bottom: 2px;
	}
}
.inf-num,.inf-photo{
	padding: 22px 38px;
	.tp{
		@include mast();
		float:left;
		margin-top: 24px;
		margin-left: -8px;
	}
}
.last-inf{
	margin-bottom: 24px;
	position: relative;
	.up-cover{
		@include w-h(280px,210px,#f1f1f1);
		overflow: hidden;
		margin: 8px 0 8px 10px;
		position: relative;
		text-align: center;
		.file-input{
			@include w-h-n(64px,64px);
			position: absolute;
			top: 54px;
			left: 108px;
			#file{
				display: inline-block;
				height: 64px;
				opacity: 0;
				cursor: pointer;
			}
			p{
				line-height: 20px;
				color: #f1f1f1;
				margin-top: -30px;
			}
		}
		img{
			width: 280px;

		}
		#upload{
			position: absolute;
			top: 30px;
			left: 50px;
		}
	}
	.tx{
		position: absolute;
		left: 350px;
		top: 90px;
		color: #ff504b;
	}
}
.btn-div{
	height: 92px;
	button{
		@include w-h-n(120px,42px);
		border-radius: 4px;
		line-height: 42px;
		border-width: 1px;
		cursor: pointer;
	}
	.publish{
		background:  rgba(255, 127, 38, 0.9);
		border-color: rgba(255, 127, 38, 0.9);
		color: #fff;
		&:hover{
			background:  rgba(255, 127, 38, 1);
			border-color: rgba(255, 127, 38, 1);
		}
	}
	.preview{
		margin-left: 18px;
		background:  #f3f3f3;
		border-color: #bbb;
		color: #666;
		&:hover{
			background:  #f3f3f3;
			border-color: #aaa;
			color: #333;
		}
	}
	.save{
		padding-left: 16px;
		color: #999;
	}
}
#fwbFrame{
	width: 880px;
	height: 568px;
}