@import "../common.scss";
.upwork{
	background: #f3f3f3;
}
.inform{
	@include w-h(100%,auto,#fff);
	margin-top: 24px;
	.inf-title{
		@include fonts(14px,#333,50px);
		padding-left: 30px;
		border-bottom:1px solid #eee;
	}
}
.inf-input{
	padding: 15px 30px;
	.input{
		position: relative;
		padding: 15px 0;	
		input{
			@include input(880px);
			padding-right: 40px;
		}
		.el-textarea{
			width: 880px;
			vertical-align: middle;

		}
		textarea{
			@include input(880px);
			line-height: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 40px;
			resize:none;

		}
	}
	.select{
		position: relative;
		padding: 15px 0;
		input{
			@include input(148px)
		}
		.label{
			width: 320px;
		}	
	}
	.sort{
		width: 148px;
	}
	.num{
		position: absolute;
		right: 140px;
		top: 15px;
		line-height: 42px;
		color: #999;
	}
	.tx{
		padding-left: 14px;
		color: #ff504b;
	}
	.tp{
		@include mast();
		margin-right: 8px;
		margin-bottom: 2px;
	}
}
.inf-num,.inf-photo{
	padding: 22px 38px;
	.tp{
		@include mast();
		float:left;
		margin-top: 24px;
		margin-left: -8px;
	}
}
.last-inf{
	margin-bottom: 24px;
}
#fwbFrame{
	width: 880px;
	height: 568px;
}