@mixin w-h($width,$height,$bgc: #fff,$dis: inline-block){
	width:$width;
	height:$height;
	background-color: $bgc;
	display: $dis;
}
@mixin w-h-n($width,$height){
	width: $width;
	height: $height;
}
@mixin fonts($size,$color,$lih,$aling: left,$weight: normal){
	font-size: $size;
	color: $color;
	text-align: $aling;
	line-height: $lih;
	font-weight: $weight;
}
@mixin bord-st($width,$radu,$color){
	border:{
		color:$color;
		width: $width;
		style: solid;
		radius: $radu;
	}
}
@mixin positions($mod,$top,$left,$right: auto,$bottom: auto){
	position: $mod;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}
@mixin input($w,$h: 42px,$bg: #f8f8f8){
	width: $w;
	height: $h;
	background: $bg;
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding-left: 20px;
	line-height: 42px;
	&::-webkit-input-placeholder{color:#999;}    /* 使用webkit内核的浏览器 */
	&:-moz-placeholder{color:#999;}                  /* Firefox版本4-18 */
	&::-moz-placeholder{color:#999;}                  /* Firefox版本19+ */
	&:-ms-input-placeholder{color:#999;}
	&:focus{
		border-color: #666 !important;
	}
}

//必填提醒
@mixin mast(){
	display: inline-block;
	width: 5px;
	height: 5px;
	background: #ff504b;
	border-radius: 50%;
}

$h1: 80px;
$mh: 600px;



//常规设置
*{
	color: #333;
	font-size: 14px;
	font-family: sans-serif;
}
ul,li{
	list-style: none;
}
.inner{
	width: 1080px;
    margin: 0 auto;
}